<!DOCTYPE html>
<html>
  <head lang="pt-br">
	  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- Link do Bootstrap -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <!-- Link do CSS próprio -->
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body class="d-flex flex-column"> 
    <!-- Cabeçalho -->
    {% include "header.html" %}
    <!-- Corpo -->
    <main class="container mt-5 flex-fill">{% block content %}
        <div class="container">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4">
                <!-- Conteúdo da primeira coluna -->
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <!-- Conteúdo da segunda coluna -->
              </div>
              <div class="col-12 col-lg-4">
                <!-- Conteúdo da terceira coluna -->
              </div>
            </div>
          </div>
          {% endblock %}</main>

          <footer class="bg-light text-center py-3 mt-5">{% include "footer.html" %}</footer>
    <!-- Scripts do Bootstrap -->
    <script src="../static/bootstrap/js/bootstrap.js"></script>
  </body>
</html>
